<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="/">Wallet Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

  {{#if user}}
  <li class="nav-item">
    <a class="nav-link" href="/WM/profile">Profile</a>
  </li>
{{/if}}
        </ul>
        <ul class="navbar-nav ml-auto">

          {{#if user}}
            <li class="nav-item dropdown">
              <a href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                id="navbarDropdownMenulink">Manage Wallet</a>
                <div class="dropdown-menu">
                  <a href="/WM"
                  class="dropdown-item">
                    List Wallet
                  </a>
                  <a href="/WM/add"
                    class="dropdown-item">
                    Add a new record!!!
                  </a>
                  <a href="/WM/split"
                    class="dropdown-item">
                    Split The Bill
                  </a>
                  <a href="/WM/settle"
                    class="dropdown-item">
                    Settle The Bill
                  </a>
                  <a href="/WM/acc"
                    class="dropdown-item">
            Update Account Balance!
                  </a>
                </div>
            </li>
            <li class="nav-item">
              <a href="/users/logout" class="nav-link">
                Logout
              </a>
            </li>
          {{else}}
            <li class="nav-item">
              <a href="/users/login" class="nav-link">
                Login
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/register" class="nav-link">
                Register
              </a>
            </li>
          {{/if}}

        </ul>
      </div>
  </div>
</nav>
